<launch>

    <node pkg="indomptable_arm" type="arm" name="left_arm" output="screen">
        <!-- Init params -->
	<remap from="arm_pose" to="left_arm_pose" />
	<remap from="shoulder_roll_joint" to="left_shoulder_roll_controller/command" />
	<remap from="shoulder_lift_joint" to="left_shoulder_lift_controller/command" />
	<remap from="elbow_joint" to="left_elbow_controller/command" />
	<remap from="wrist_joint" to="left_wrist_controller/command" />
	<remap from="hand_joint" to="left_hand_joint" />
	<remap from="hand" to="left_hand" />
	<remap from="pump" to="left_pump" />
	<remap from="pump_feedback" to="left_pump_feedback" />
        <param name="arm_pose_name" value="left" type="string"/>
        <param name="arm_pose_y" value="-60" type="int"/>
    </node>

  </launch>
