<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <!-- LASER NODE -->
  <node pkg="common_smart_simulators" type="robot_pose_simulator" name="ROBOT_simulator" output="screen">
    <param name="map_name" value="/map" />
    <param name="base_name" value="/base_link" />

    <remap from="/ROBOT/pose" to="/ROBOT/pose" />
    <remap from="/ROBOT/cmd_vel" to="/ROBOT/cmd_vel" />
  </node>

</launch>
