<?xml version="1.0"?>

<launch>
  <master auto="start"/>
<!--
  <include file="$(find eurobot2015_models)/launch/gros_model.launch">
  </include>
-->
  <include file="$(find eurobot2015_models)/launch/field.launch">
  </include>

  <include file="$(find eurobot2015_gros_nav)/launch/move_base.launch">
  </include>

  <!-- Static transform from world to the map of the PETIT robot -->
  <node pkg="tf" type="static_transform_publisher" name="world2petit_broadcaster" args="0 0 0 0 0 0 /world /odom 100"/>

  <!-- Map server for PETIT robot -->
  <node pkg="map_server" type="map_server" respawn="false" name="GROS_map_server" output="screen" args="$(find eurobot2014_models)/map2014.yaml">
        <param name="frame_id" type="str" value="/odom" />
        <remap from="/map" to="/GROS/map" />
  </node>

  <!-- LASER NODE -->
  <node pkg="common_smart_simulators" type="robot_pose_simulator" name="GROS_simulator" output="screen">
    <param name="map_name" value="/odom" />
    <param name="base_name" value="/base_link" />

    <remap from="/ROBOT/pose" to="/GROS/ardugoal" />
    <remap from="/ROBOT/cmd_vel" to="/GROS/cmd_vel" />
  </node>

</launch>
