<launch>
  <master auto="start"/>

  <node pkg="common_smart_nav" type="pathplanner" respawn="false" name="NESTOR_pathplanner" output="screen">

    <param name="costmap_name" type="str" value="NESTOR_costmap" />
    <param name="planner_name" type="str" value="NESTOR_planner" />

    <rosparam file="$(find common_smart_nav)/launch/NESTOR_params.yaml" command="load" />

        <remap from="/ROBOT/goal" to="/NESTOR/goal" />
        <remap from="/ROBOT/plan" to="/NESTOR/plan" />
        <remap from="/ROBOT/path_done" to="/NESTOR/path_done" />
        <remap from="/ROBOT/compute_path" to="/NESTOR/compute_path" />
        <remap from="/ROBOT/pause" to="/NESTOR/pause" />
        <remap from="/ROBOT/resume" to="/NESTOR/resume" />

        <remap from="/ROBOT/get_robot_pose" to="/NESTOR/get_robot_pose" />
        <remap from="/ROBOT/get_distance" to="/NESTOR/get_distance" />
        <remap from="/ROBOT/get_path" to="/NESTOR/get_path" />

  </node>


  <node pkg="common_smart_nav" type="pathwrapper" respawn="false" name="NESTOR_pathwrapper" output="screen">

        <remap from="/ROBOT/plan" to="/NESTOR/plan" />
        <remap from="/ROBOT/get_robot_pose" to="/NESTOR/get_robot_pose" />

  </node>


</launch>
