<launch>

    <node pkg="common_smart_nav" type="fake_odom" name="TEMERAIRE_fake_odom" output="screen">
	<param name="map_name" value="base_footprint"/>
	<param name="base_name" value="odom_fake1"/>

    	<remap from="/ROBOT/cmd_vel" to="/TEMERAIRE/cmd_vel" />
	<remap from="/ROBOT/odom" to="/TEMERAIRE/odom" />
    </node>


</launch>
